<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bucket content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div th:if="${error != null}" th:remove="tag">
        <div class="alert alert-danger" role="alert">error:<br/>
            <p th:text="${message}" />
        </div>

    </div>

    <div class="page-header table">
        <h3>content</h3>
    </div>


    <table class="table">
        <tr>
            <th>key</th>
            <th>Bucket Name</th>
            <th>owner</th>
            <th>size</th>
            <th>lastModified</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="bucketsummary : ${bucketsummaries}">
            <td th:text="${bucketsummary.key}">-</td>
            <td th:text="${bucketsummary.bucketName}">-</td>
            <td th:text="${bucketsummary.owner}">-</td>
            <td th:text="${bucketsummary.size}">-</td>
            <td th:text="${bucketsummary.lastModified}">-</td>
            <td>
                <a href="listBucketContent.html" th:href="@{/downloadcontent(bucketName=${bucket.bucketName})}">Download</a>
            </td>
            <td>
                <a href="listBucketContent.html" th:href="@{/deletecontent(bucketName=${bucket.owner})}">delete</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>